// .nav_item {
//   float: right;
// }
body {
  padding-top: 80px;
  text-align: center;
}
.footer {
  color: #fff;
  text-align: center;
  margin: auto;
  padding-top: 12px;
}
.search_form {
  padding-bottom: 20px;
}
.form_item {
  list-style: none;
}
#task_name {
  margin-bottom: 8px;
}
#status {
  margin-bottom: 8px;
  padding-right: 10px;
}
