<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- <div class="navbar-header"> -->
      <p class="footer">©︎TaskManager</p>
    <!-- </div> -->
  </div>
</nav>
